:root{
  //Colors start

  --bright-orange: #FE5F1E;
  --flame-orange: #EB5A1E;
  --gray: #8D8D8D;
  --gray-2: #777777;
  --dark-gray: #181818;
  --deep-gray: #282828;
  --light-gray: #F9F9F9;
  --soft-gray: #F3F3F3;
  --gray-neutral: #7B7B7B;
  --neutral: #F4F4F4;
  --silver: #D7D7D7;
  --silver-gray: #B6B6B6;
  --soft-silver: #D3D3D3;
  --white: #FFFFFF;
  --soft-white: #F6F6F6;
  --dark-slate: #2C2C2C;
  --transparent-orange: #FE5F1E0D;
  --black: #000000;

  //  Colors end
  --font-size-base: 1rem;
}